body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
.button-container {
    text-align: center;
    margin: 20px 0;
}
button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #0A84FE;
    color: #fff;
    transform: scale(1.05);
}
.selected {
    background-color: #0A84FE;
    color: #fff;
}
.main-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 15px;
    text-align: left;
    background-color: #fff;
}
th {
    background-color: #f8f9fa;
}
tr:nth-child(even) {
    background-color: #fff;
}
.container {
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.container .nav-container {
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.container .sticky-top {
    position: sticky;
    top: 0;
}
.container .sticky-bottom {
    position: sticky;
    bottom: 0;
}
/* 버튼 스타일 */
button {
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    font-family: 'GmarketSansMedium', sans-serif;
    width: 90%;
    max-width: 240px; /* 버튼 최대 크기를 조금 더 줄임 */
    padding: 0.8rem;
    font-size: 1rem;
    margin: 1rem auto;
    background-color: #ffffff;
    color: #0A84FE;
    border-color: #0A84FE;
    border-radius: 50px; 
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover{
    background-color: #0C84FE;
    color:#ffffff;
    transform: translateY(-3px);
}